* {
    margin: 0;
    padding: 0;

  }
  
  html, body {
    height: 100%;
    width: 100%;
  }

  .container_img {
    position: relative;
    width: 100%;
  }

  .imagem {
    width: 100%;
    display: block;
  }

  .texto-sobreposto {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: transparent;
    color: white;
    padding: 10px 0;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 90px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }

  .texto-sobreposto-abaixo {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: transparent;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: white;
    padding: 10px 0;
    font-size: 35px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    
  }



  /*baixo*/

  .container{
    height: 16.9%; 
    width: 100%;
    background-color:rgb(5, 146, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .bt_style{
    width: 250px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    border-color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: rgb(5, 146, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* sombra aqui */
      transition: box-shadow 0.3s ease;
  }

  

  